.Nav {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    z-index: 50;
    color: rgb(240, 248, 255, 0.7);
}

li {
    list-style: none;
    cursor: pointer;
    position: relative;
}

li.active {
    color: rgb(0, 140, 255);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

/* li.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    animation: underline 0.3s ease-in-out forwards;
}

@keyframes underline {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
} */