:root {
    --navbar-bg-color: rgba(161, 161, 161, 0.3);
}

.navbar {
    background-color: var(--navbar-bg-color);
    border-radius: 40px;
    width: 80px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navbar li div {
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    color: white;
}

.navbar li.active div {
    background-color: rgb(255, 255, 255); 
    color: black;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
